{% extends "online_auction/base.html" %}

{% load static %}

{% block title %}ПОИСК АУКЦИОНОВ{% endblock %}

{% block content %}

<section id="why-us" class="why-us section-bg" style="background: url(/static/img/Material-67-A_Diffuse.jpg)">
      <div class="container" data-aos="fade-up" style="display: flex; flex-direction: column; align-items: center;">
            <div class="section-header">
                <br>
                <p>Аукционы</p>
            </div>
          <div class="col-lg-8 d-flex align-items-center">
              <div class="row gy-4">
                {% for event in events %}
                      <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                          <a href="/auction/{{ event.id }}/detail">
                            <div style="min-width: 275px !important" class="icon-box d-flex flex-column justify-content-center align-items-center">
                              <h4>{{ event.name }}</h4>
                              <p><img src="{{ event.lot.image.url }}" width="150"/></p>
                            </div>
                          </a>
                      </div>

                {% endfor %}

              </div>
          </div>
      </div>
    </section>

{% endblock %}